<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #2e2e2e; color: white">
<header style="background-color: #0f3c8a; padding: 1em 4em; text-align: center">
    <h1>WEB MATRICULAS UCE</h1>
</header>
<div style="max-width:900px; margin: 4em auto; padding: 1em" class="border border-2 border-light rounded-3">

    <h1>
        <strong>Matriculas:</strong>
    </h1>
    <table class="table table-dark table-striped">
        <thead style="font-weight: bold;">
        <tr>
            <td>Cédula de estudiante</td>
            <td>Código de materia</td>
            <td>Fecha de matricula</td>
            <td>Nombre de hilo</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="matriculaDTO:${matriculasDTO}">
            <td th:text="${matriculaDTO.cedulaEstudiante}"></td>
            <td th:text="${matriculaDTO.codigoMateria}"></td>
            <td th:text="${matriculaDTO.fechaMatricula}"></td>
            <td th:text="${matriculaDTO.nombreHilo}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>